@using Microsoft.AspNetCore.Html
@model List<Category>



<ul id="sideManu" class="nav nav-tabs nav-stacked">
	
	@{
		var index = 0;
	}

	@foreach (var item in Model.Where(d => !d.ParentCategoryId.HasValue))
	{
		<li class="subMenu" @(index == 0 ? "open" : "")>
			@if (@item.ChildCategories.Any())
			{
				<a> @item.Name</a>
				<ul @(index > 0 ? "style=display:none" : "")>
					@foreach (var subItem in @item.ChildCategories)
					{
						<li><a href="products.html?categoryId=@subItem.Id"><i class="icon-chevron-right"></i>@subItem.Name</a></li>
					}

				</ul>
			}
			else
			{
				<a href="products.html?categoryId=@item.Id">@item.Name</a>
			}

		</li>

		index++;

	}

</ul>

