@model DotNetCoreMvcPractices.Models.Product
<div class="row">
    <div class="span2">
        <img src="~/Images/product/@Model.ImagePath" alt="">
    </div>
    <div class="span4">
        <h3>ÜRÜN ID - @Model.BrandId</h3>
        <hr class="soft">
        <h5>@Model.Name </h5>
        <p>
            @Model.Name
            @Model.Category.Name
        </p>
        <a class="btn btn-small pull-right" href="product_details.html">Ürün Detayı</a>
        <br class="clr">
    </div>
    <div class="span3 alignR">
        <form class="form-horizontal qtyFrm">
            <h3> @Model.Price</h3>
            <label class="checkbox">
                <input type="checkbox"> Karşılaştır
            </label><br>

            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-large btn-primary">  <i class=" icon-shopping-cart"></i></a>
            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-large"><i class="icon-zoom-in"></i></a>

        </form>
    </div>
</div>
<hr class="soft">