@model IEnumerable<DotNetCoreMvcPractices.Models.Product>



<ul class="breadcrumb">
	<li><a asp-controller="Home" asp-action="Index">Home</a> <span class="divider">/</span></li>
	<li class="active">Ürünler</li>
</ul>


<h3> Ürünler <small class="pull-right"> 40 products are available </small></h3>

<hr class="soft">

<form class="form-horizontal span6">
	<div class="control-group">
		<label class="control-label alignL">Sort By </label>
		<select>
			<option>Ürün Adına Göre Sırala A - Z</option>
			<option>Ürün Adına Göre Sırala  Z - A</option>
			<option>Stok Miktarına Göre Sırala</option>
			<option>Fiyata Göre Sırala</option>
		</select>
	</div>
</form>

<div id="myTab" class="pull-right">
	<a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
	<a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
</div>

<br class="clr">

<div class="tab-content">
	<div class="tab-pane" id="listView">
		@foreach (var item in Model)
		{
			@await Component.InvokeAsync("Product", new { product = item, viewName = "List" })
		}

	</div>

	<div class="tab-pane  active" id="blockView">
		<ul class="thumbnails">
			@foreach (var item in Model)
			{
				@await Component.InvokeAsync("Product", new { product = item, viewName = "Thumbnail" })
			}



		</ul>
		<hr class="soft">
	</div>
</div>

@*<table class="table">
		<thead>
			<tr>
				<th>
					<a asp-action="Create" class="btn btn-success">
						Yeni Ürün
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</a>
				</th>
				<th></th>
				<th colspan="3" style="text-align:right;">
					<form asp-controller="Product" asp-action="Index" class="form-inline">
						<div class="form-group">
							<input type="search" class="form-control" name="productName" placeholder="Ürün Adı...">
							<button type="submit" class="btn btn-primary">Ara</button>
						</div>
					</form>
				</th>
			</tr>
			<tr>

				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Stock)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Price)
				</th>

				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model)
			{
				<tr>

					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Stock)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Price)
					</td>

					<td>
						<img src="~/Images/product/@item.ImagePath" alt="Image" height="30" />
					</td>
					<td>
						@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
						@Html.ActionLink(" ", "Create", new { id = item.Id }, new { @class = "btn btn-primary  glyphicon glyphicon-edit" })
						@Html.ActionLink(" ", "AddToCart", new { id = item.Id }, new { @class = "btn btn-primary  glyphicon glyphicon-plus" })
					</td>

				</tr>
			}
		</tbody>
	</table>*@

@section Scripts
	{

	<script src="~/js/cart.js"></script>
}